li {
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
    border-radius: 0%;
    transition: border-radius 0.2s;
    cursor: pointer;
}

.careerList.active {
    
    background-color: rgb(36, 37, 92);
    color: white;
    border-radius: 20px;
}
