.contact {
    background-color: rgb(195, 255, 255);
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10%;
}

.container * {
    margin: 0px;
    overflow: hidden;
}

h2 {
    color: rgb(36, 37, 92);
    font-size: calc(20px + 2vw);
}

input {
    width: 300px;
    height: 30px;
    font-size: 14px;
}


form {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

form * {
    margin: 5px;
}


textarea {
    width: 300px;
    height: 200px;
    font-size: 14px;
}

button {
    width: 150px;
    height: 30px;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

button:focus {
    outline: none;
}

span {
    color: green;
  }