.career {
    background-color: rgb(255, 234, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.career h1, .career ul * {
    overflow: hidden;
}

.career h1 {
    font-size: calc(20px + 2vw);
    font-weight: 700;
    color: rgb(36, 37, 92);
}

.career ul {
    color: rgb(36, 37, 92);
    margin: 13px;
    padding: 0;
    list-style: none;
    display: flex;
}

.career-items {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.career-items > .item {
    width: 25vmin;
    height: 25vmin;
    border-radius: 20px;
    border: 1px solid orange;
    overflow: hidden;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(36, 37, 92);
    position: relative;
    cursor: pointer;
}

.career-items >.item h3 {
    top: 15px;
    display: none;
    position: absolute;
    font-size: calc(10px + 1vmin);
    z-index: 1;
}

.career-items >.item h3.active {
    display: flex;
}

.career-items >.item h4 {
    display: none;
    position: absolute;
    font-size: calc(5px + 1vmin);
    z-index: 1;
}

.item h4, .item h5 {
    font-size: calc(10px + .5vw);
}

.item p {
    font-size: calc(10px + .5vw);
}

h4 {
    bottom: 10px;
}

h5 {
    bottom: 50%;
}

.item p {
    bottom: 25%;
}

.career-items >.item h4.active {
    display: flex;
}

.career-items >.item h3:hover {
    z-index: 2;
}

h4, h5, .item p {
    position: absolute;
}

.item a {
    transition: all 0.5s ease;
    z-index: 3;
}

.item a img{
    width: 25vmin;
    height: 25vmin;
    object-fit: cover;
    opacity: 1;
}


.item a:hover, .item a img:hover{
    z-index: 0;
    opacity: 0.3;
    background-color: rgb(36, 37, 92);
}