.intro {
    background-color: rgb(195, 255, 255);
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.background {
    overflow: hidden;
    position: absolute;
    border: 45vmin solid transparent;
    border-top: 0;
    border-bottom: 50vmin solid rgb(255, 206, 71);
    z-index: 2;
    overflow: hidden;
}

.background-right {
    transform: rotate(190deg);
    top: 25vh;
    right: -5vw;
    width: 0;
    height: 0;
}

.intro-left {
    flex: 0.6;
    overflow: hidden;
    z-index: 3;
}

.intro-right {
    flex: 0.5;
    overflow: hidden;
}

.wrapper {
    width: auto;
    height: 100%;
    padding-left: 5vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}



.wrapper *, .img-container *{
    z-index: 3;
}

.wrapper h1 {
    font-size: calc(20px + 2vw);
    font-weight: 700;
    color: rgb(36, 37, 92);
}

.wrapper h3 {
    font-size: 25px;
    font-weight: 500;
    color: rgb(201, 156, 139);
}

.intro-right {
    flex: 0.5;
    overflow: hidden;
}

.img-container {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 50vw;
    height: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img-container img {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    height: 80%;
}



